.rovalra-custom-profile-badge-buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.rovalra-badge-preview-description {
    margin-bottom: 12px;
}

.rovalra-badge-preview-upload.rovalra-fileupload-wrapper {
    margin-left: 0;
    max-width: none;
}
